option_settings:
  - option_name: NODE_ENV
    value: production
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.nano
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeVersion
    value: 4.3.0
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-XXXXXXXXX
  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-XXXXXXXXX
  - namespace: aws:ec2:vpc
    option_name: AssociatePublicIpAddress
    value: true